@media screen and (min-width:80px){
#visible{ 
    animation : blur 2s 0.5s forwards;
    text-align: center;
    color: white;
}
.jumbotron{
    background-color: #091f36;
    color: white;
}

.body2{
     background-color: #091f36;
     color: white; 
}
h1{
    color: #e31c66;
    font-family: Lora;
    text-decoration-line: underline;

}
#quote:hover{
    color:#e31c66;
   

}

.output{
    border: 3px solid #1dbab4;
    border-radius: 10px;
    padding: 10px;
    font-family: Lora;
}
.outline{
    background-image: url("../../../images/blue.jpg");
}
p{
    font-size: 20px;
    color: #e31c66;
}
#author{
    float: right;
    position: relative;
    
}
}