<div class="header">
  <h2>
    "The truth can only be found in one place: the code. <br> <em>--Robert C. Martin"</em>
  </h2>
</div>
<div class="jumbotron">
  <h1> Quotes</h1>
</div>
<div class="visible class=body">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <ul>
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </ul>
  </div>
</div>