<div class="outline">
  <div class="jumbotron">
    <h1> Quotes</h1>
  </div>
  <div class="visible" class="body">
    <div class="container between">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
      </div>

      <div class="col-md-1"></div>
    </div>
  </div>

  <div class="body2">
    <div class="container2">
      <div *ngFor='let quote of quotes;let i= index'>
        <div class="row">
          <div class="col-md-3"></div>
          <div id="quotes" class="output col-md-6">
            <p id="{{i}}"><span>{{quote.description}}</span> <br> <em id="author"><strong>{{quote.name}}</strong></em>
              <br><br><br>PublishedBy: {{quote.Publisher}} <br> Published {{quote.publish|date}} </p>
            <app-upvotes id="quote"></app-upvotes>

            <br>
            <br>

            <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>


          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-md-3"></div>
        <ul>
          <div class="container">

            <div class="row">
              <div class="col-md-3"></div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </ul>
      </div>

    </div>
  </div>
</div>