<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-conrol" required class="form-control" id="text"  name="name" >    
    </div>
  
    <br>
    <br>

  <div class="form-group">
    <label for="quote">Quote</label>
    <textarea class="form-control " id="description" rows="4" name="description" required></textarea>
  </div>
  <br>
  <br>

  <div class="form-group">
    <label for="Publisher">Published By</label>
    <input class='form-control' id="text" name="Publisher"  required>
  </div>
  <br>
  <br>
  
  <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
  </form>
  
</div>